* {
    font-family: 'Lato', sans-serif;
}

p,
table,
ul,
ol,
blockquote {
    color: #555555;
    font-size: 15px;
    line-height: 24px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadein {
    animation: fadein ease 1s;
}

.fadein--slow {
    animation-duration: 3s;
}

a.internal {
    color: #555;
    text-decoration-style: dotted;
}

a.external {
    color: #555;
    text-decoration-style: solid;
}

a.black {
    color: inherit;
    text-decoration: inherit;
}

.iri {
    color: #AAA;
    font-size: 11px;
}

.iri a {
    color: #AAA;
    text-decoration: inherit;
}

.flont_iri {
    color: #443;
    font-size: 15px;
}

.short_iri {
    font-size: 24px;
}

.title {
    text-align: center;
    margin-bottom: 48px;
}

.title_first {
    font-size: 120px;
}

.title_second,
.title_second * {
    font-size: 30px;
    font-family: 'Parisienne', cursive;
}

.title a {
    text-decoration: none;
    color: black;
}

.small-caps {
    font-size: 80%;
    text-transform: uppercase;
}