{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>FLOnt: the French Lexicon Ontology</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parisienne&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'flont/img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'flont/css/master.css' %}">
    <link rel="stylesheet" href="{% static 'flont/css/searchbar.css' %}">
    <link rel="stylesheet" href="{% static 'flont/css/layout.css' %}">
    {% block head %}{% endblock head %}
</head>

<body>
    <div class="hwrapper">
        <div class="main_wrapper">
            <header>
                <div class="title">
                    <a href="{% url 'flont:landing' %}"><span class="title_first"><b>FLO</b>nt</span></a>
                    <br>
                    <a href="{% url 'flont:landing' %}"><span class="title_second">&laquo; <b>F</b>rench <b>L</b>exicon <b>O</b>ntology &raquo;</span></a>
                </div>
            </header>
            {% block body %}{% endblock body %}
            <footer>
                <p>
                    <a href="https://yohan.chalier.fr">Auteur</a> &mid; <a href="https://github.com/ychalier/flont">GitHub</a> &mid; <a href="{% static 'flont/schema.owl' %}">Schéma</a> &mid; <a href="{% url 'flont:endpoint'%} ">Endpoint</a>
                </p>
            </footer>
        </div>
    </div>
</body>

</html>
