{% extends 'piweb/single_column.html' %}

{% load static %}


{% block title %}FLOnt: the French Lexicon Ontology{% endblock title %}

{% block body_class %}custom-color black-white{% endblock body_class %}

{% block head %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet" />
<link rel="shortcut icon" type="image/png" href="{% static 'flont/img/favicon.png' %}" />
<link rel="stylesheet" href="{% static 'flont/css/master.css' %}" />
{% endblock head %}

{% block navbar %}
<div class="p-centered title">
    <a href="{% url 'flont:landing' %}"><span class="title_first"><b>FLO</b>nt</span></a>
    <br>
    <a href="{% url 'flont:landing' %}"><span class="title_second">&laquo; <b>F</b>rench <b>L</b>exicon <b>O</b>ntology &raquo;</span></a>
</div>
{% endblock navbar %}

{% block main_content_next %}
<footer>
    <p>
        <a href="https://yohan.chalier.fr">Auteur</a> &mid; <a href="https://github.com/ychalier/flont">GitHub</a> &mid; <a href="https://ontology.chalier.fr/flont-schema.owl">Schéma</a> &mid; <a href="https://ontology.chalier.fr/flont">RDF/XML</a>
    </p>
</footer>
{% endblock main_content_next %}

