{% extends 'flont/base.html' %}
{% load static %}

{% block title %}
{% if entity_type == "literal" %}{{ entity_data.label }}{% else %}{{ short_iri }}{% endif %} &mid; {{ block.super }}
{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'flont/css/literal.css' %}" />
{% endblock head %}

{% block main_content %}

    {% include 'flont/searchbar.html' %}

    {% if entity_type == "literal" %}
        {% include 'flont/literal.html' with literal=entity_data %}
    {% elif entity_type == "entry" %}
        {% include 'flont/lexical_entry.html' with entry=entity_data %}
    {% elif entity_type == "sense" %}
        <h1><span class="flont_iri">{{ flont_iri }}</span><span class="short_iri">{{ short_iri }}</span></h1>
        {% include 'flont/lexical_sense.html' with sense=entity_data %}
    {% elif entity_type == "meta" %}
        <h1><span class="flont_iri">{{ flont_iri }}</span><span class="short_iri">{{ short_iri }}</span></h1>
        {% include 'flont/meta.html' with meta=entity_data %}
    {% endif %}

{% endblock main_content %}
