{% extends 'flont/base.html' %}
{% load static %}

{% block main_content %}

{% include 'flont/searchbar.html' %}

<div class="fadein">

    <p>
        FLOnt (pour &laquo; French Lexicon Ontology &raquo;) est une
        <b>ontologie</b> représentant le <b>dictionnaire français</b>. À ce titre,
        elle contient les définitions des noms, verbes, adjectifs et autres mots de
        la langue française, ainsi que des informations sur ce qui les lient,
        syntactiquement ou sémantiquement. La version actuelle compte plus de six millions d'entités,
        pour 1 801 056 mots et phrases (incluant les flexions).
        Par exemple, voici la page présentant le mot &laquo; <a class="internal" href="{% url 'flont:graph' short_iri='_penser' %}">penser</a> &raquo.
    </p>

    <p>
        Elle est construite automatiquement à partir des données collaboratives du
        <a class="external" href="https://fr.wiktionary.org/wiki/Wiktionnaire:Page_d%E2%80%99accueil">Wiktionnaire</a>,
        la branche française de Wiktionary, le projet de dictionnaire libre porté par
        <a class="external" href="https://wikimediafoundation.org/">Wikimedia</a>.
        La version actuelle est basée sur le <i>dump</i> du 20 juillet 2020.
        Les scripts Python effectuant cette tâche sont disponibles sur
        <a class="external" href="https://github.com/ychalier/flont">GitHub</a>.
        Les contributions sont les bienvenues !
    </p>

    <p>
        Pour utiliser l'<a href="{% url 'flont:endpoint' %}">endpoint SPARQL</a>,
        veuillez me <a href="https://chalier.fr/#contact?lang=fr">contacter</a> pour 
        obtenir un compte de démonstration.
    </p>

    <div class="notices blue">
        <p class="container">
            Cette démonstration ne contient que quelques entrées, autour des mots
            <a href="{% url 'flont:graph' short_iri='_penser' %}">penser</a>,
            <a href="{% url 'flont:graph' short_iri='_panser' %}">panser</a>
            et <a href="{% url 'flont:graph' short_iri='_pensée' %}">pensée</a>,
            dans le but de préserver au possible mon petit serveur.
            <a href="https://mega.nz/file/2O4ixQjJ#BK_1VXqX9MaUBulma6EBcryWWl6QqJFXA61hSKu05jk">Télécharger la base complète (1.90 Go).</a>
        </p>
    </div>

    <!--<img src="https://i.imgur.com/bVeWwTA.jpg?1" alt="Nouveau Dictionnaire Larousse" />-->
    <img class="img-responsive" alt="FLOnt" src="{% static 'flont/img/banner_dict_1600_800.jpg' %}" />

</div>



{% endblock main_content %}
