<h2><a class="black" href="{% url 'flont:graph' short_iri='LexicalSense' %}">Définition</a></h2>

{{ sense.definition.html | safe }}

<h3><a class="black" href="{% url 'flont:graph' short_iri='hasPrecision' %}">Précision{{ sense.precisions | pluralize }}</a></h3>
{% if sense.precisions %}
<ul>
    {% for precision in sense.precisions %}
    <li>{{ precision.html_black | safe }}</li>
    {% endfor %}
</ul>
{% else %}
<p>
    Aucune précision n'est connue pour cette définition.
</p>
{% endif %}

<h3><a class="black" href="{% url 'flont:graph' short_iri='example' %}">Exemple{{ sense.examples | pluralize }}</a></h3>

{% if sense.examples %}
{% for example in sense.examples %}
<blockquote>
    &laquo; {{ example }} &raquo;
</blockquote>
{% endfor  %}
{% else %}
<p>
    Aucun exemple n'est enregistré pour cette définition.
</p>
{% endif %}
