<section class="literal">

    <div class="literal__header">
        <span class="literal__header__label">{{ literal.label }}</span>
        {% if literal.pronunciation %}
        <span class="literal__header__pronunciation">/<i>{{ literal.pronunciation }}</i>/</span>
        {% endif %}
        <span class="literal__header__iri iri">{{ literal.iri }}</span>
    </div>

    {% if literal.get_inflections %}
    <div class="literal__inflections linkbox">
        {% for relation, label in literal.get_inflections %}
        <span class="literal__inflection linkbox__element">
            <span class="literal__inflection__relation linkbox__title">{{ relation | capfirst}}</span> :
            <a class="literal__inflection__link linkbox__link" href="{% url 'flont:search' %}?q={{label}}">{{ label }}</a>
        </span>
        {% endfor %}
    </div>
    {% endif %}

    {% if literal.anagrams %}
    <div class="literal__anagrams linkbox">
        <span class="linkbox__element linkbox__title">anagramme{{ literal.anagrams|pluralize }}</span>
        {% for label in literal.anagrams %}
        <a class="linkbox__element linkbox__link" href="{% url 'flont:search' %}?q={{label}}">{{ label }}</a>
        {% endfor %}
    </div>
    {% endif %}

    {% if literal.entries %}
    <div class="literal__entries">

        {% for entry in literal.entries %}
        {% include 'flont/lexical_entry.html' %}
        {% endfor %}

    </div>
    {% endif %}

</section>
