{% extends 'flont/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'flont/css/literal.css' %}" />
{% endblock head %}

{% block body %}
{% include 'flont/searchbar.html' %}
<section class="fadein">
    {% if top_labels %}
    <p>
        Ce mot n'est pas dans le dictionnaire. Voici des résultats proches de votre recherche :
    </p>
    <ul>
        {% for label in top_labels %}
        <li><a class="internal" href="{% url 'flont:search'%}?q={{ label }}">{{ label }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    {% endif %}
</section>
{% endblock body %}
